{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус заказа</th>
      <th>Способ оплаты</th>
      <th>Стоимость заказа</th>
      <th>Клиент</th>
      <th>Адрес доставки</th>
      <th>Телефон</th>
      <th>Рестораны</th>
      <th>Ссылка на админку</th>
    </tr>

    {% for item in orders %}
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.status}}</td>
        <td>{{item.payment_method}}</td>
        <td>{{item.order_price}} руб.</td>
        <td>{{item.firstname}} {{item.lastname}}</td>
        <td>{{item.address}}</td>
        <td>{{item.phonenumber}}</td>
        <td width="18%">
          <details>
            <ul>
              {% if item.restaurant_order %}
                <li> Приготовит ресторан: {{item.restaurant_order}}</li>
              {% else %}
                {% for restaurant in item.sorted_restaurants %}
                  {% if restaurant.distance == 0 %}
                    {% if forloop.first %}
                      <p>Ошибка определения координат</p>
                    {% endif %}
                  {% else %}
                    <li>
                      {{restaurant.name}}: {{restaurant.distance}} км
                    </li>
                  {% endif %}
                {% endfor %}
              {% endif%}
            </ul>
          </details>
        </td>
        <td><a href="{% url 'admin:foodcartapp_order_change' item.pk %}?next={{ '/manager/orders/' }}">Редактировать</a></td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
