{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус заказа</th>
      <th>Способ оплаты</th>
      <th>Стоимость заказа</th>
      <th>Клиент</th>
      <th>Адрес доставки</th>
      <th>Телефон</th>
      <th>Рестораны</th>
      <th>Ссылка на админку</th>
    </tr>

    {% for item in order_items %}
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.status}}</td>
        <td>{{item.payment_method}}</td>
        <td>{{item.order_price}} руб.</td>
        <td>{{item.firstname}} {{item.lastname}}</td>
        <td>{{item.address}}</td>
        <td>{{item.phonenumber}}</td>
        <td width="18%">{{item.restaurants_have_products}}
          {% comment %} {% if item.restaurant_order %}
            {% if item. %}
              Заказ готовится рестораном:<br>&#10004 {{ restaurant.name }}
            {% else %}
              <details>
                <summary>Может быть приготовлен &#9660</summary>
                  {% for restaurant in item.restaurants_have_products %}
                      &#10004{{ restaurant.name }}<br>
                  {% endfor %}
              </details>
            {% endif %}
          {% else %}
            Пустой заказ!
          {% endif %} {% endcomment %}
        </td>
        <td><a href="{% url 'admin:foodcartapp_order_change' item.pk %}?next={{ '/manager/orders/' }}">Редактировать</a></td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
